html{
  background-color: purple;

}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  list-style-type: none;
  justify-content: space-evenly;
  padding-top: 50px;
}
.nav-bar a{
  color: darkgoldenrod;
  text-decoration: none;

}
.nav-bar img{
  padding-bottom: 20px;
}
.catalog{
  border: 2px solid black;
  margin-right: 20px;

}




.wrap{



}

.left-box{
  background-color: white;

}
.right-box img{
  position: absolute;
}
.mid-box{
  border: 2px solid black;
  background-color: white;
  display: flex;




}
#lname{

}