header {
  border: 6px solid black;
  width: fit-content;

}







h1 {
  background-color: darkcyan ;
  width: 150px;
  text-align: left;
  color: white;
  width:fit-content ;
  margin: 0%;

}
p {
  color: white;
  font-size: 30px;
  background-color: darkcyan;
  width: 150px;
  margin: 0%;

}

img { 
  width: 250px;
  height: 250px;
  float: right;
  margin: 0%;

}



  


