.container{
  border: 1px solid black;
  height: 800px;
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}
.header{
  grid-area: 1/1/1/5;
  justify-content: center;


 
}
.header img{
 justify-content: center;


}
.nav-bar{
  grid-area: 2/3;

}
.nav-bar ul{
  list-style-type: none;
  background-color: yellow;
  display: flex;
}
.nav-bar a{

}





}
.body-box{
  grid-area: 2/4;
}
.pics{
  grid-area:3/2;


}
.footer{
  grid-area: 2/1;

}

