.img-box{

  justify-content: center;
  align-items: center;
  padding-left: 500px;
  margin: 100px;
  

}
.img{
  justify-content: center;


}
.img-box img{
  justify-content: center;
  align-items: center;

}

.nav-box{
  margin-bottom: 100px;
  

}
.nav-box ul{
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;



}


 
.nav-box {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bolder;



}
.home{
  
  list-style-type: none;


}
.about{
  
}
.gallery{
  
}
.blog{
  
}
.contact{

}


.background-container{
  background-image: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/the-beacon.jpg);
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 850px;
  margin-bottom: 100px;




  

}
.line-1{
  background-color: white;
  width: fit-content;
  justify-content: right;
  margin-bottom: 40px;
  margin-top: 40PX;



  
  

}
.line-1 h1{
  margin-top: 0px;
    margin-bottom: 0px;
}
.line-2{
  background-color: black;
  color: white;
  width: fit-content;

  font-size: 20px;
  margin-bottom: 40px;

}

.line-2 p{
  margin-top: 0px;
    margin-bottom: 0px;
}



.line-3{
  background-color: black;
  color: white;
  width: fit-content;
  font-size: 20px;
  margin-bottom: 40px;
}
.line-3 p{
  margin-top: 0px;
    margin-bottom: 0px;
}
.line-4{
  background-color: black;
  color: white;
  width: fit-content;
  font-size: 20px;
  margin-bottom: 40px;
}
.line-4 p{
  margin-top: 0px;
    margin-bottom: 0px;
}
.button{
  color:white;
  background-color: aqua;
  width: 100px;
  height: 80px;
  font-size: 20px;
  border-radius: 25%;




}
 .pic-box{
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;

 }
 .img-1 h2{
  margin-left: 80px;
 }
 .img-2 h2{
  margin-left: 80px;
}
.img-3 h2{
  margin-left: 80px; 
} 










.footer-box{
  background-color: #363436;
  color: white;
  height: 80px;
  padding-top: 50px;
  padding-left: 250px;


}

