.main-container{
  background-color: white;
  margin: 0;
  padding: 0;


}
.nav-bar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding:0 ;

}


.home{
  color:white;
  list-style-type: none;


}
.about{
  display: flex;
color: white;
list-style-type: none;

}
.contact-me{
  color: white;
  list-style-type: none;
}
.box-1{
  background-color: chocolate;
  text-align: center;



}
.box-2{
  margin-top: 90px;
  background-color: chartreuse;
  




}
.box-3{
  background-color: violet;
  text-align: center;
  margin: 0%;
  padding: 0%;


}

