body{
  margin:0;
  padding:0;

}
.main-container{
  background-color: white;
  width: 100%;


}
.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  list-style-type: none;

}

.home{
  color:white;


}
.about{
color: white;
}
.contact-me{
  color: white;
}
.box-1{
  border: 2px solid purple;
  margin-top: 80px;
  background-color: chocolate;
  text-align: center;



}
.box-1 h1{
  


}
.box-2{
  border: 2px solid purple;
  margin-top: 90px;
  background-color: chartreuse;
  




}
.box-3{
  background-color: violet;
  text-align: center;
  margin: 0%;
  padding: 0%;


}

