main.main-container{
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
 
}
.todolist {
  display: grid;
  grid-area: 1/1/4/1;
  




}
.greeting{


}


