main.main-container{
  background-color: blue;
  border: black;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;

}
.todolist {
  display: grid;
  ;

}


