main.main-container{
  background-color: blue;
  border: black;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows:  50px 50px 50px 50px;

}
.todolist {
  display: grid;
  ;

}


